.container{
  width: 100%;
  padding: 10px;
  padding-top: 90px;
}
.icon{
  margin: 0 5px;
  cursor: pointer;
}
.none{
  display: none;
}
.size-1{
  width: 14px;
}
.size-2{
  width: 20px;
}
.size-4{
  width: 40px;
}