 //false ligth- true dark;
$BgColor: rgb(17, 17, 17);
$BgColor2: rgb(10, 10, 10);
$ColorSecondary: rgb(80, 80, 80);
$Color3: rgb(24, 24, 24);
$TextColorPrincipal: rgb(28, 255, 104);
//rgb(28, 255, 104);
//rgb(28, 172, 255);
$textColor: whitesmoke ;
$Font: 'Press Start 2P', cursive;
$Font2: Verdana, Geneva, Tahoma, sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $Font;
  background-color: $BgColor2;
  /*
  background-image: radial-gradient(circle at center center, $textColor, $BgColor), repeating-radial-gradient(circle at center center, $textColor, $textColor, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;*/
}
* {
  box-sizing: border-box;
}

/*------------SCROLL----------------*/
::-webkit-scrollbar{
  width: .30rem;
  background-color: $BgColor;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: $ColorSecondary;
  border-radius: .5rem;
}
/*------------styles GENERAL------------------*/
.container{
  width: 100%;
  padding: 10px;
  padding-top: 90px;
}
.icon{
  padding: 5px;
  cursor: pointer;
}
.none{
  display: none;
}
/*----------------------------------*/
@import './Decorators/decorators';
@import './Mixins/mixin';
@import './Components/components';
@import './Pages/pages';
.active{
  color: $TextColorPrincipal;
}


/*
.Ligth{
  $BgColor: rgb(240, 240, 240);
  $ColorSecondary: rgb(80, 80, 80);
  $Color3: whitesmoke;
  $TextColorPrincipal: rgb(28, 255, 104);
  //rgb(28, 255, 104);
  //rgb(28, 172, 255);
  $textColor: rgb(17, 17, 17);
  $Font: 'Press Start 2P', cursive;


  background-color: $BgColor;
  background-image: radial-gradient(circle at center center, $Color3, $BgColor), repeating-radial-gradient(circle at center center, $Color3, $Color3, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
  @import './animations';
  @import './Mixins/mixin';
  @import './Components/layouts';
  @import './Components/links';
  @import './Components/Buttons';
  @import './Pages/home';
}*/
