$Font: 'Press Start 2P', cursive;
$Font2: 'Rubik', sans-serif;
$TextColorPrincipal: rgb(28, 255, 104);
$BgColor: rgb(28, 28, 28);
$BgColor2: rgb(10, 10, 10);
$ColorSecondary: rgb(80, 80, 80);
$Color3: rgb(24, 24, 24);
//rgb(28, 255, 104);
//rgb(28, 172, 255);
$textColor: whitesmoke ;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $Font;
}
body #__next{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/*------------SCROLL----------------*/
::-webkit-scrollbar{
  width: .30rem;
  background-color: rgb(17, 17, 17);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(80, 80, 80);
  border-radius: .5rem;
}


/*------------SCROLL----------------*/
@import './globals';
@import './Decorators/decorators';
@import './Mixins/mixin';
@import './Components/components';
@import './Pages/pages';
.Dark{
  background-color: $BgColor2;
  .active{
    color: $textColor;
  }
  .Svg{
    filter: invert(1);
  }
  .Svg:hover{
      filter: invert(1) drop-shadow(2px 2px 5px $textColor);
  }
  .bg_radial{
    background-color: $BgColor;
    background-image: radial-gradient(circle at center center, $textColor, $BgColor), repeating-radial-gradient(circle at center center, $textColor, $textColor, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
  }
}

.Ligth{
  $BgColor: whitesmoke;
  $BgColor2: rgb(240, 240, 240);
  $ColorSecondary: rgb(211, 211, 211);
  $Color3: rgb(230, 230, 230);
  //rgb(28, 255, 104);
  //rgb(28, 172, 255);
  $TextColorPrincipal: rgb(51, 199, 51);
  $textColor: rgb(49, 49, 49) ;

  background-color: white;

  /*------------SCROLL----------------*/
  @import './globals';
  @import './Decorators/decorators';
  @import './Mixins/mixin';
  @import './Components/components';
  @import './Pages/pages';

  .active{
    color: $textColor;
  }

  .Svg:hover{
      filter: drop-shadow(2px 2px 5px $textColor);
  }
  .bg_radial{
    background-color: #ffffff;
    background-image: radial-gradient(circle at center center, #fcfcfc, #ffffff), repeating-radial-gradient(circle at center center, #fcfcfc, #fcfcfc, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
  }
}
