.About{
    @include GRID-COLUMN-TWO;
}
.About_Img{
    @extend .Home_Img ;
}
.About_Info{
    width: 100%;
    max-width: 500px;
    text-align: start;
    margin: 0 auto;
}

.About_Tittle{
    color: $TextColorPrincipal;
}
.About_text{
    color: $textColor;
    line-height: 20px;
    font-size: 10px;
    //font-family: $Font2;
    margin:  5px 0;
    //text-align: justify;
}
.About_Link{
    text-decoration: none;
    color: $textColor;
}