.About,.Abilities{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px
}

@import './about';
@import './home';
@import './abilities';
@import './proyects';


@media screen and (max-width: 740px){
    .Home_Container,.About{
        grid-template-columns: 1fr;
        padding-left: 10px;
        //grid-auto-flow: dense;
    }
    .Home_Details,.About_Info{
        text-align: center;
    }
    .Btn_Download{
        margin: 5px auto;
    }
}
