.Proyects{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.Proyects_title{
    color: $TextColorPrincipal;
}
.Proyects_Container{
    width: 100%;
    margin: 0 auto;
    @include flex-center;
    flex-wrap: wrap;
}