.CardSkill{
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    background-color: $BgColor;
    border-radius: 10px;
    margin: 10px
}
.CardSkill_Header{
    @include flex-center;
    justify-content: space-between;
}
.CardSkill_Header{
    width: 100%;
    color: $textColor;
    padding: 10px 20px;
    border-bottom: 2px solid $textColor;
}

.CardSkill_Title{
    text-align: start;
}
.CardSkill_MenuLists,.CardSkill_List{
    width: 100%;
    padding: 0;
}
.CardSkill_List{
    padding: 5px;
    border-bottom: 1px solid $Color3;
    color: $textColor;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.CardSkill_SpanIcon{
    max-width: 70px;
    font-size: 8px;
    text-align: center;
    margin: 5px 10px;
}
.CardSkill_Frameworks{
    @include flex-center;
    justify-content: flex-end;
}
.SpanTool{
    font-size: 8px;
}
.ContentTool{
    background-color: $BgColor2;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    height: 30px;
    @include flex-center;  
}

/*-------------CARD-PROYECT------------*/

.CardProyect{
    width: 300px;
    text-align: center;
    min-height: 560px;
    padding: 1rem;
    background-color: $BgColor;
    margin: 10px;
    transition: scale .4s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover{
        scale: 1.02;
    }
}
.CardProyect_Content,.CardProyect_MenuTags,.CardProyect_footer,
.CardProyect_Links{
    width: 100%;
}
.CardProyect_Content{
    min-height: 240px;
}
.CardProyect_Tittle{
    color: $TextColorPrincipal;
}
.CardProyect_MenuTags,.CardProyect_Links{
    padding: 0;
    @include flex-center;
    flex-wrap: wrap;
}
.CardProyect_tag{
    list-style: none;
    color: $textColor;
    font-size: 8px;
    background-color: $ColorSecondary;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.CardProyect_description{
    font-size: 8px;
    line-height: 14px;
    color: $textColor;
    min-height: 100px;
}
.CardProyect_Links{
    margin: 10px 0;
}
.CardProyect_footer{
    border-top: 1px solid $textColor;
    color: $textColor;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}