
/*------------------HEADER------------------*/
.Header{
    width: 100%;
    height: 80px;
    //background-color: rgb(240, 240, 240);
    background-color: $BgColor;
    //border-bottom: 1px solid $ColorSecondary;
    position: fixed;
    z-index: 3;
}
.ContainerHeader{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.Header_ContainerLogo{
    padding-left: 10px;
    text-align: start;
    position: relative;
}
.Header_Barr{
    color: $textColor;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    display: none;
}
.Header_Logo{
    color: $textColor;
    margin: 30px 0;
    font-size: 20px;
}
.Header_Nav,.Header_Menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header_Menu{
    width: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 650px){
    .ContainerHeader{
        grid-template-columns: 1fr;
        grid-template-rows: 80px 5fr;
    }
    .Header_Barr{
        display: block;
    }
    .Header_Nav{
        height: 100vh;
        background-color: $BgColor;
        align-items: flex-start;
        transform: translateX(-100%);
        transition: transform .3s;
    }
    .Header_Menu{
        flex-direction: column;
        padding: 0;
    }
    .Nav_Item{
        margin: 10px 0;
        height: 30px;
        width: 100%;
        text-align: center;
    }
}

.Header_Nav-Responsive{
    max-width: 100%;
    transform: translateX(0%);
}


/*------------ASIDES-----------------*/
.Aside-Redes{
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 120px;
    background-color: $Color3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 3;
}
.Aside-Menu{
    padding: 0;
}

@media screen and (max-width: 650px){
    .Aside-Redes{
        display: none;
    }
}

/*------------FOOTER-----------------*/

.Footer{
    width: 100%;
    background-color: $BgColor;
    margin-top: auto;
}
.Footer_Content{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.Footer_NavLink{
    @include flex-center;
    margin: 0;
    padding: 0;
}
.Footer_Creditos{
    @include flex-center-column;
}
.Footer_Text{
    color: $textColor;
    font-size: 10px;
    margin: 0;
    font-family: $Font2;
}

/*------------SPAN-----------------*/

.Language{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $BgColor2;
    margin: 10px;
    position: fixed;
    z-index: 5;
    text-align: center;
    cursor: pointer;
    border: 1px solid $textColor;
}
.Language_Text{
    font-size: 16px;
    color: $textColor;
}