

.degradado::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(rgba(0,0,0,0) 90%,$BgColor2 100%);
}